@font-face {
    font-family: "koochita";
    src: url("../fonts/koochita.eot?95128087");
    src: url("../fonts/koochita.eot?95128087#iefix") format("embedded-opentype"),
        /* url("../fonts/koochita.woff2?95128087") format("woff2"), */
    url("../fonts/koochita.woff?95128087") format("woff"),
    url("../fonts/koochita.ttf?95128087") format("truetype"),
    url("../fonts/koochita.svg?95128087#koochita") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

body, p, a, span, input, select, h1, h2, h3, h4, h5, h6, textarea {
    font-family: IRANSans;
    direction: rtl;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "koochita" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-bottom: 10px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flight:before {
    content: "\e942";
}
.icon-search:before {
    content: "\e9a8";
}
.icon-management:before {
    content: "\e9a9";
}
.icon-address:before {
    content: "\e9aa";
}
.icon-tour:before {
    content: "\e9ab";
}
.icon-flight-takeoff:before {
    content: "\e9ac";
}
.icon-flight-land:before {
    content: "\e9ad";
}
.icon-capacity:before {
    content: "\e9ae";
}
.icon-bed:before {
    content: "\e9af";
}
.icon-down:before {
    content: "\e9b0";
}
.icon-etc:before {
    content: "\e9b1";
}
.icon-plus-circle:before {
    content: "\e9b2";
}
.icon-travelers:before {
    content: "\e9b3";
}
.icon-voucher:before {
    content: "\e9b4";
}
.icon-transaction:before {
    content: "\e9b5";
    color: #545454;
}
.icon-help:before {
    content: "\e9b6";
    color: #545454;
}
.icon-city:before {
    content: "\e9b7";
}
.icon-discount:before {
    content: "\e9b8";
}
.icon-notification:before {
    content: "\e9b9";
}
.icon-calendar:before {
    content: "\e9ba";
}
.icon-night:before {
    content: "\e9bb";
}
.icon-sale-step2:before {
    content: "\e9bc";
}
.icon-payment:before {
    content: "\e9bd";
}
.icon-edit:before {
    content: "\e9be";
}
.icon-person-add:before {
    content: "\e9bf";
}
.icon-sale-step1:before {
    content: "\e9c0";
}
.icon-what-up:before {
    content: "\e9c1";
}
.icon-hide:before {
    content: "\e9c2";
}
.icon-change:before {
    content: "\e9c3";
}
.icon-show:before {
    content: "\e9c4";
}
.icon-person-add1:before {
    content: "\e93a";
}
.icon-plus-circle1:before {
    content: "\e93e";
}
.icon-minus-circle:before {
    content: "\e940";
}
.icon-night-stay:before {
    content: "\e944";
}
.icon-user-md:before {
    content: "\e946";
}
.icon-church:before {
    content: "\e949";
}
.icon-tombstone:before {
    content: "\e94b";
}
.icon-place-of-worship:before {
    content: "\e94d";
}
.icon-flag-pennant:before {
    content: "\e94f";
}
.icon-passport:before {
    content: "\e951";
}
.icon-restroom:before {
    content: "\e954";
}
.icon-toilet:before {
    content: "\e958";
}
.icon-coins:before {
    content: "\e95b";
}
.icon-money-bill-wave:before {
    content: "\e95e";
}
.icon-toolbox:before {
    content: "\e960";
}
.icon-globe-snow:before {
    content: "\e962";
}
.icon-chess-queen:before {
    content: "\e964";
}
.icon-monkey:before {
    content: "\e966";
}
.icon-gamepad:before {
    content: "\e968";
}
.icon-starship:before {
    content: "\e96a";
}
.icon-gift:before {
    content: "\e96c";
}
.icon-child:before {
    content: "\e96f";
}
.icon-user-astronaut:before {
    content: "\e971";
}
.icon-tree:before {
    content: "\e973";
}
.icon-gem:before {
    content: "\e975";
}
.icon-rabbit-fast:before {
    content: "\e978";
}
.icon-laugh-squint:before {
    content: "\e97a";
}
.icon-ship:before {
    content: "\e97b";
}
.icon-helicopter:before {
    content: "\e97c";
}
.icon-gas-pump:before {
    content: "\e97d";
}
.icon-praying-hands:before {
    content: "\e97e";
}
.icon-mosque1:before {
    content: "\e97f";
}
.icon-podium:before {
    content: "\e980";
}
.icon-hands-helping:before {
    content: "\e981";
}
.icon-apple-crate:before {
    content: "\e982";
}
.icon-brain:before {
    content: "\e983";
}
.icon-microscope:before {
    content: "\e984";
}
.icon-eye:before {
    content: "\e985";
}
.icon-tooth:before {
    content: "\e986";
}
.icon-flower:before {
    content: "\e987";
}
.icon-dog-leashed:before {
    content: "\e988";
}
.icon-clinic-medical:before {
    content: "\e989";
}
.icon-user-nurse:before {
    content: "\e98a";
}
.icon-hospital:before {
    content: "\e98b";
}
.icon-pills:before {
    content: "\e98c";
}
.icon-heart:before {
    content: "\e98d";
}
.icon-balance-scale:before {
    content: "\e98e";
}
.icon-mailbox:before {
    content: "\e98f";
}
.icon-ballot-check:before {
    content: "\e990";
}
.icon-sim-card:before {
    content: "\e991";
}
.icon-siren-on:before {
    content: "\e992";
}
.icon-extinguisher:before {
    content: "\e993";
}
.icon-user-tie:before {
    content: "\e994";
}
.icon-city1:before {
    content: "\e995";
}
.icon-user-headset:before {
    content: "\e996";
}
.icon-user-edit:before {
    content: "\e997";
}
.icon-popcorn:before {
    content: "\e998";
}
.icon-monument:before {
    content: "\e999";
}
.icon-music:before {
    content: "\e99a";
}
.icon-image:before {
    content: "\e99b";
}
.icon-fish:before {
    content: "\e99c";
}
.icon-theater-masks:before {
    content: "\e99d";
}
.icon-paint:before {
    content: "\e99e";
}
.icon-calendar-star:before {
    content: "\e99f";
}
.icon-building:before {
    content: "\e9a0";
}
.icon-store:before {
    content: "\e9a1";
}
.icon-camera-movie:before {
    content: "\e9a2";
}
.icon-user-music:before {
    content: "\e9a3";
}
.icon-quidditch:before {
    content: "\e9a4";
}
.icon-calendar1:before {
    content: "\e9a5";
}
.icon-motorcycle:before {
    content: "\e9a6";
}
.icon-flag-checkered:before {
    content: "\e9a7";
}
.icon-mobile-login:before {
    content: "\e93b";
}
.icon-email-login:before {
    content: "\e93c";
}
.icon-fire:before {
    content: "\e936";
}
.icon-mug-hot:before {
    content: "\e937";
}
.icon-plus:before {
    content: "\e938";
}
.icon-kite:before {
    content: "\e93d";
}
.icon-person-skiing:before {
    content: "\e93f";
}
.icon-water:before {
    content: "\e941";
}
.icon-volleyball-ball:before {
    content: "\e943";
}
.icon-racquet:before {
    content: "\e945";
}
.icon-hockey-sticks:before {
    content: "\e947";
}
.icon-raygun:before {
    content: "\e948";
}
.icon-transporter-3:before {
    content: "\e94a";
}
.icon-transporter:before {
    content: "\e94c";
}
.icon-horse-saddle:before {
    content: "\e94e";
}
.icon-ball-pile:before {
    content: "\e950";
}
.icon-table-tennis:before {
    content: "\e952";
}
.icon-bullseye-arrow:before {
    content: "\e953";
}
.icon-person-running:before {
    content: "\e955";
}
.icon-user-ninja:before {
    content: "\e956";
}
.icon-hot-tub:before {
    content: "\e957";
}
.icon-swimming-pool:before {
    content: "\e959";
}
.icon-bicycle:before {
    content: "\e95a";
}
.icon-mountain:before {
    content: "\e95c";
}
.icon-boxing-glove:before {
    content: "\e95d";
}
.icon-golf-club:before {
    content: "\e95f";
}
.icon-ice-skate:before {
    content: "\e961";
}
.icon-bowling-pins:before {
    content: "\e963";
}
.icon-shuttlecock:before {
    content: "\e965";
}
.icon-basketball-ball:before {
    content: "\e967";
}
.icon-spa:before {
    content: "\e969";
}
.icon-dumbbell:before {
    content: "\e96b";
}
.icon-subway:before {
    content: "\e96d";
}
.icon-futbol:before {
    content: "\e96e";
}
.icon-anchor:before {
    content: "\e970";
}
.icon-train:before {
    content: "\e972";
}
.icon-taxi:before {
    content: "\e974";
}
.icon-bus-alt:before {
    content: "\e976";
}
.icon-suitcase-rolling:before {
    content: "\e977";
}
.icon-plane:before {
    content: "\e979";
}
.icon-car-bus:before {
    content: "\e939";
}
.icon-trash:before {
    content: "\e935";
}
.icon-comment:before {
    content: "\e932";
}
.icon-quote:before {
    content: "\e933";
}
.icon-question:before {
    content: "\e934";
}
.icon-at:before {
    content: "\e900";
}
.icon-360:before {
    content: "\e901";
}
.icon-adress:before {
    content: "\e902";
}
.icon-adventure:before {
    content: "\e903";
}
.icon-arrowleft:before {
    content: "\e904";
}
.icon-arrowright:before {
    content: "\e905";
}
.icon-attraction:before {
    content: "\e906";
}
.icon-bnb:before {
    content: "\e907";
}
.icon-bookmarke:before {
    content: "\e908";
}
.icon-bookmarkf:before {
    content: "\e909";
}
.icon-carrepair:before {
    content: "\e90a";
}
.icon-close:before {
    content: "\e90b";
}
.icon-commente:before {
    content: "\e90c";
}
.icon-commentf:before {
    content: "\e90d";
}
.icon-copy:before {
    content: "\e90e";
}
.icon-dislikee:before {
    content: "\e90f";
}
.icon-dislikef:before {
    content: "\e910";
}
.icon-emoji:before {
    content: "\e911";
}
.icon-facebook:before {
    content: "\e912";
}
.icon-food:before {
    content: "\e913";
}
.icon-gasstation:before {
    content: "\e914";
}
.icon-handmade:before {
    content: "\e915";
}
.icon-hotel:before {
    content: "\e916";
}
.icon-info:before {
    content: "\e917";
}
.icon-likee:before {
    content: "\e918";
}
.icon-likef:before {
    content: "\e919";
}
.icon-location:before {
    content: "\e91a";
}
.icon-more:before {
    content: "\e91b";
}
.icon-mosque:before {
    content: "\e91c";
}
.icon-MytripE:before {
    content: "\e91d";
}
.icon-MyTripF:before {
    content: "\e931";
}
.icon-nearme:before {
    content: "\e91f";
}
.icon-photo:before {
    content: "\e920";
}
.icon-report:before {
    content: "\e921";
}
.icon-restarea:before {
    content: "\e922";
}
.icon-restaurant:before {
    content: "\e923";
}
.icon-safarnameh:before {
    content: "\e924";
}
.icon-share:before {
    content: "\e925";
}
.icon-souvenir:before {
    content: "\e926";
}
.icon-stare:before {
    content: "\e927";
}
.icon-starf:before {
    content: "\e928";
}
.icon-telegram:before {
    content: "\e929";
}
.icon-tell:before {
    content: "\e92a";
}
.icon-tv:before {
    content: "\e92b";
}
.icon-twitter:before {
    content: "\e92c";
}
.icon-video:before {
    content: "\e92d";
}
.icon-wc:before {
    content: "\e92e";
}
.icon-website:before {
    content: "\e92f";
}
.icon-whatsapp:before {
    content: "\e930";
}
.icon-3dot:before {
    content: "\e91e";
}

[class^="icon-"],
[class*=" icon-"] {
    margin-bottom: 0px;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
@media (max-width: 790px) {
    .mainLoginBox {
        margin-top: 60px !important;
        align-items: center;
        width: 400px !important;
        flex-direction: column;
        height: unset !important;
    }
    .form {
        padding: 20px 0px;
    }
    #form {
        width: 95% !important;
    }
    .picBox {
        width: 100% !important;
    }
    .picBox {
        padding-bottom: 15px;
    }
}
.loginItems {
    color: white;
    width: 241px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    cursor: pointer;
}
.form {
    padding: 10px 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.width50 {
    width: 50% !important;
}
.userInput {
    display: flex;
    justify-content: center;
}
.boxInput {
    display: flex;
}
.userInput input {
    margin: 10px;
    height: 43px;
    width: 46px;
    border: none;
    text-align: center;
    font-family: arimo;
    font-size: 1.2rem;
    background: #eef2f3;
}
.mainLoginBox {
    margin: auto;
    margin-top: 130px;
    width: 75%;
    height: 330px;
    display: flex;
    background-color: white;
}
.picBox {
    width: 50%;
    align-items: center;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    flex-direction: column;
}
#form {
    width: 50%;
    background-color: #445565;
    margin: 20px;
    border-radius: 10px;
}
#loginPic {
    height: 80%;
    width: 100%;
}

.hidden {
    display: none !important;
}