<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">

    <title>ورود | کوچیتا</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link th:href="@{/css/login.css}" rel="stylesheet"/>

</head>

<body style="background-color: #3333">

    <div class="mainLoginBox">
        <div id="form">
            <div style="
                display: flex;
                flex-direction: column;
                margin: auto;
                align-items: center;
              "
            >
                <div
                        style="
                  font-size: 23px;
                  font-weight: 800;
                  color: white;
                  padding: 5px;
                  white-space: nowrap;
                "
                >
                    به سادگی به کوچیتا بپیوندید کنید
                </div>
                <div class="form">
                    <div
                            class="loginItems"
                            onclick="googleLogin()"
                            style="width: 247px !important; padding-right: 0px !important"
                    >
                        <img th:src="@{/assets/google_signin.svg}" style="width: 100%"/>
                    </div>

                    <div
                            id="loginByPhoneBtn"
                            class="loginItems"
                            onclick="phoneLogin()"
                            style="background-color: #4dc7bc"
                    >
                        <div th:if="${allowSignUp}" style="white-space: nowrap">ثبت نام/ ورود با تلفن همراه</div>
                        <div th:unless="${allowSignUp}" style="white-space: nowrap">ورود با تلفن همراه</div>
                        <div class="icon-mobile-login" style="font-size: 40px"></div>
                    </div>
                    <div
                            class="loginItems"
                            onclick="emailLogin()"
                            style="background-color: #f19090"
                    >
                        <div>ثبت نام/ورود با ایمیل</div>
                        <div
                                class="icon-email-login"
                                style="font-size: 40px; padding-left: 6px"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="picBox">
            <img id="loginPic" th:src="@{/assets/loginLogo.svg}" alt="loginLogo"/>
            <p
                    id="caption"
                    style="
                text-align: center;
                font-size: 23px;
                font-weight: 800;
                color: #2e2e2e;
              "
            >
                سلام. به کوچیتا خوش آمدید
            </p>
        </div>
    </div>

    <script>
        var callback = "[[${redirectUrl}]]";
    </script>
    <script th:src="@{/js/signIn.js}"></script>

    <form id="signInForm" class="hidden" th:action="@{/cas/login}" method="post">
        <input name="callback" type="hidden" required th:value="${callback}">
        <input name="redirectUrl" type="hidden" required th:value="${redirectUrl}">
        <input id="signInToken" name="token" type="hidden" required>
        <input id="signInValue" name="value" type="hidden" required>
        <input id="signInCode" name="code" type="hidden" required>
    </form>

</body>

</html>